:root {
    --primary-text: #EEE;
    --secondary-text: #858585;

    background-color: rgb(20, 20, 20);
    height: 100%;
    margin: 0 10px;
}

:root :link {
    color: #0090ea;
}

:root :visited {
    color: #a867e6;
}

body {
    background-color: rgb(25, 25, 25);
    max-width: 900px;
    padding: 15px;
    margin: auto;
    min-height: 100%;
    border: 1px solid rgb(40, 40, 40);
    font-family: monospace, auto;
    color: var(--primary-text);
}

* {
    box-sizing: border-box;
}

h1 {
    line-height: 1;
}

.header {
    display: flex;
    place-content: center;
}

.header-name {
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    display: block;
    cursor: pointer;
    margin: 10px;
}

.back-btn i {
    transition: transform 0.25s ease;
}

.back-btn:hover i {
    transform: translateX(-10px);
}

.header-name .back-btn {
    position: absolute;
    left: 0;
}

.title-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-info {
    text-align: center;
    width: 450px;
}

.quote {
    display: block;
    margin-top: 10px;
    font-size: small;
}

.quote q {
    margin-top: 10px;
    font-style: italic;
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.links .link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #252525;
    transition: background-color 1s ease;
    height: 55px;
    width: 55px;
    color: var(--primary-text);
}

.links .link:hover {
    background-color: #303030;
}

.links .link i {
    transition: scale 0.25s ease;
}

.links .link:hover i {
    scale: 1.08;
}

.links .link:focus-within {
    outline: 2px #0090ea solid;
}

.portrait {
    --radius: 100px;
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    border-radius: 50%;
}

.main-content {
    margin-top: 20px;
}

.resume .details {
    border: 1px solid #444;
    border-radius: 4px;
    padding: .25em;
    background-color: #252525;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.resume .details:has(.summary:hover) {
    background-color: #303030;
}

.resume .summary {
    font-weight: bold;
    padding: .5em;
}

.resume .details[open] .summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.pdf {
    height: 500px;
}

.section .p {
    text-indent: 2ch;
    margin-left: 10px;
}

.skill i {
    vertical-align: middle;
}

code {
    background-color: #444;
    padding: 3px;
    border-radius: 3px;
}

.skill {
    border: 1px solid #444;
    background-color: #252525;
    border-radius: 5px;
    padding: 10px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projects a {
    text-decoration: none;
    display: inline-block;
}

.projects a:hover {
    text-decoration: underline;
}

.projects a:hover i {
    text-decoration: underline;
}

.project-list {
    padding: 0;
    list-style: none;
}

project-elt {
    display: block;
    height: 38px;
    opacity: 0;
}

/* Mobile-specific styles */
@media (max-width: 750px) {
    .desktop-only {
        display: none;
    }

    .header {
        flex-direction: column;
        gap: 25px;
    }

    .contact-info {
        width: initial;
    }

    .title-image {
        gap: 15px;
        justify-content: space-evenly;
    }

    .links {
        margin-top: 0;
    }

    .portrait {
        --radius: 50px;
    }

    .pdf {
        height: 375px;
    }
}

@media (min-width: 500px) and (max-width: 750px) {
    .portrait {
        --radius: 75px;
    }

    .title-image {
        justify-content: center;
        gap: 50px;
    }
}

/* Desktop-specific styles */
@media (min-width: 750px) {
    .mobile-only {
        display: none;
    }
}