body {
    padding-bottom: 50px;
}

* {
    touch-action: manipulation;
    box-sizing: border-box;
    line-height: 1;
    vertical-align: middle;
}

.btn {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    -webkit-appearance: none;
}

form>label+div {
    display: block;
    margin-bottom: 0.5rem;
}

form :is(input, select) {
    width: 150px;
    height: 2.25rem;
}

.board {
    --cell-margin: 0.25rem;
    display: block;
    box-sizing: border-box;
    overflow: auto;
    white-space: nowrap;
}

.board-row {
    display: block;
    margin: var(--cell-margin) 0;
    line-height: 0;
    box-sizing: border-box;
}

.board-cell {
    display: inline-block;
    border: 0.5px solid black;
    width: 2rem;
    height: 2rem;
    margin: 0 var(--cell-margin);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
}

.board-cell.highlight {
    outline: 2px solid rgb(0, 145, 255);
}

.board-cell.active {
    background-color: black;
}

.board-cell.inactive {
    background-color: white;
}

.board-wrapper {
    padding: 0 10px;
    max-width: 100%;
}

:is(#user-board-parent, #match-board-parent) .board-cell {
    cursor: pointer;
}

#user-board-parent .board-cell:hover {
    outline: 3px solid rgb(221, 199, 0);
}

#user-board-parent .board-cell:active {
    outline: 3px solid rgb(187, 153, 0);
}

#match-board-parent .board-cell:hover {
    outline: 3px solid rgb(255, 83, 15);
}

#match-board-parent .board-cell:active {
    outline: 3px solid rgb(192, 47, 11);
}