@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	background: rgba(0, 165, 230, 1.00);
	max-width: 1700px;
	margin: auto;
	padding: 5px;
}

header {
	background-color: rgba(255, 255, 255, 0.67);
	border-style: outset;
	border-width: 7px;
	margin-bottom: 5px;
}

header img {
	margin-left: 10px;
}

@media (max-width: 600px) {
	header img {
		width: 100px;
	}
}

header .page-title {
	padding-top: 25px;
	display: flex;
}

header h1 {
	font-weight: 600;
	align-self: center;
	text-align: center;
	font-size: min(72px, 6vw);
	margin: 0;
	width: 100%;
}

section {
	box-shadow: 0px 5px 5px;
	background-color: white;
	border-radius: 5px;
	margin-block: 15px;
	padding: 5px;
}

.name {
	display: block;
	text-align: right;
	margin-right: 10px;
	height: 25px;
}

main p {
	padding-left: 10px;
	font-size: large;
}

.images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.images img {
	border-radius: 5px;
	box-shadow: 2px 2px 2px;
	margin: 10px;
}

@media (max-width: 600px) {
	.images img {
		width: 150px;
	}
}

.tutorial-list>a {
	display: block;
	padding: 5px;
	margin-left: 10px;
	font-size: large;
}

footer {
	border: 3px solid gray;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.67);
	padding: 15px 10px;
	margin-bottom: 10px;
}

footer * {
	margin: 0;
}

a.email:link {
	color: red;
	text-decoration: none;
}

a.email:visited {
	color: purple;
	text-decoration: none;
}

a.email:hover {
	color: red;
	text-decoration: underline;
}

a.email:active {
	color: purple;
	text-decoration: underline;
}

a.name:link {
	color: red;
	text-decoration: none;
}

a.name:visited {
	color: red;
	text-decoration: none;
}

a.name:hover {
	color: red;
	text-decoration: underline;
}

a.name:active {
	color: purple;
	text-decoration: underline;
}