@charset "UTF-8";
/* CSS Document */

body {
	background: rgba(0, 165, 230, 1.00)
}

.page-title {
	background-color: rgba(255, 255, 255, 0.67);
	border-style: outset;
	border-width: 7px;
}

.page-title h1 {
	font-weight: 600;
	align-self: center;
	text-align: center;
	font-size: 6vw;
}

.page-title a {
	max-height: 15%;
	max-width: 15%;
}

.section {
	justify-content: space-between;
	box-shadow: 5px 5px 5px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 5px;
}

.name {
	float: right;
	font-size: 2vmin;
	text-align: right;
}

p {
	padding-left: 10px;
	font-size: large;
}

.images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.images img {
	border-radius: 5px;
	box-shadow: 2px 2px 2px;
	margin: 10px;
}

.tutorial-list>a {
	display: block;
	padding: 5px;
	margin-left: 10px;
	font-size: large;
}

footer {
	margin: 10px;
	padding-top: 15px;
	border-style: solid;
	border-color: gray;
	background-color: rgba(255, 255, 255, 0.67);
	border-radius: 10px;
}

a.email:link {
	color: red;
	text-decoration: none;
}

a.email:visited {
	color: purple;
	text-decoration: none;
}

a.email:hover {
	color: red;
	text-decoration: underline;
}

a.email:active {
	color: purple;
	text-decoration: underline;
}

a.name:link {
	color: red;
	text-decoration: none;
}

a.name:visited {
	color: red;
	text-decoration: none;
}

a.name:hover {
	color: red;
	text-decoration: underline;
}

a.name:active {
	color: purple;
	text-decoration: underline;
}