<header class="header">
  <div class="title-image">
    <hgroup class="contact-info">
      <h1 class="header-name">Dennis Kats</h1>
      <span style="display: inline-flex; margin: 5px 0 0; text-align: center; font-size: smaller; gap:15px">
        <span><i style="margin-right: 5px;" class="fa-solid fa-person" aria-hidden="true"></i>He/Him</span>
        <span><i style="margin-right: 5px;" class="fa-solid fa-location-pin" aria-hidden="true"></i>NYC</span>
      </span>
      <nav class="desktop-only links" aria-label="Social Links">
        <a class="link" href="mailto:denniskats43@gmail.com" target="_blank" title="Email"><i
            class="fa-solid fa-envelope fa-2x" aria-hidden="true"></i></a>
        <a class="link" href="https://github.com/denk0403" target="_blank" title="GitHub"><i
            class="fa-brands fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="link" href="https://www.linkedin.com/in/dennis-kats/" target="_blank" title="LinkedIn"><i
            class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i></a>
        <!-- <a class="link" href="https://twitter.com/denk0403" target="_blank" title="Twitter"><i
                        class="fa-brands fa-twitter fa-2x"></i></a> -->
        <a class="link" href="/links.html" title="View all links"><i class="fa-solid fa-link fa-2x"
            aria-hidden="true"></i></a>
      </nav>
      <span class="desktop-only quote">
        <q>Life's a journey to find the <br>people weird like you.</q>
        —atticus
      </span>
    </hgroup>
    <div style="display: flex; flex-direction: column; justify-content: center">
      <img width="200" class="portrait" src="/resources/imgs/Dennis2021-200.webp" alt="A picture of Dennis Kats" />
    </div>
  </div>
  <nav class="mobile-only links" aria-label="Social Links">
    <a class="link" href="mailto:denniskats43@gmail.com" target="_blank" title="Email"><i
        class="fa-solid fa-envelope fa-2x" aria-hidden="true"></i></a>
    <a class="link" href="https://github.com/denk0403" target="_blank" title="GitHub"><i
        class="fa-brands fa-github fa-2x" aria-hidden="true"></i></a>
    <a class="link" href="https://www.linkedin.com/in/dennis-kats/" target="_blank" title="LinkedIn"><i
        class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i></a>
    <!-- <a class="link" href="https://twitter.com/denk0403" target="_blank" title="Twitter"><i
                  class="fa-brands fa-twitter fa-2x"></i></a> -->
    <a class="link" href="/links.html" title="View all links"><i class="fa-solid fa-link fa-2x"
        aria-hidden="true"></i></a>
  </nav>
</header>