<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="keywords"
    content="developer, software engineer, code, github, software, web developer, react, javascript, web components" />
  <meta name="author" content="Dennis Kats" />
  <meta name="description"
    content="Dennis Kats is a software engineer based in NYC. He specializes in full-stack web development, and he loves to learn about UX/DX, accessibility, and human-centered design." />
  <title>{{ page.title }}</title>

  <!-- Open Graph protocol support-->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="https://denniskats.dev" />
  <meta property="og:secure_url" content="https://denniskats.dev" />
  <meta property="og:description"
    content="Dennis Kats is a software engineer based in NYC. He specializes in full-stack web development, and he's extremely passionate about UX/DX, accessibility, and human-centered design." />
  <meta name="og:image" content="https://denniskats.dev/resources/imgs/Dennis2021.jpg" />
  <meta name="og:image:alt" content="A picture of Dennis Kats" />

  <!-- Twitter Card support-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@denk0403" />
  <meta name="twitter:creator" content="@denk0403" />
  <meta name="twitter:image" content="https://denniskats.dev/resources/imgs/site_preview.jpg" />
  <meta name="twitter:image:alt" content="A preview of the home page of https://denniskats.dev" />

  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- Preload FontAwesome fonts -->
  <link as="font" rel="preload" referrerpolicy="no-referrer" type="font/woff2" crossorigin
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-brands-400.woff2" />
  <link as="font" rel="preload" referrerpolicy="no-referrer" type="font/woff2" crossorigin
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-solid-900.woff2" />

  <!-- Preload images -->
  <link rel="preload" href="/resources/imgs/Dennis2021-200.webp" as="image" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css"
    integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css"
    integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew=="
    crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css"
    integrity="sha512-6mc0R607di/biCutMUtU9K7NtNewiGQzrvWX4bWTeqmljZdJrwYvKJtnhgR+Ryvj+NRJ8+NnnCM/biGqMe/iRA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />

  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <header class="header">
    <div class="title-image">
      <div class="contact-info">
        <h1 class="header-name">Dennis Kats</h1>
        <span style="display: inline-flex; margin: 5px 0 0; text-align: center; font-size: smaller; gap:15px">
          <span><i style="margin-right: 5px;" class="fa-solid fa-person"></i>He/Him</span>
          <span><i style="margin-right: 5px;" class="fa-solid fa-location-pin"></i>NYC</span>
        </span>
        <nav class="desktop-only links">
          <a class="link" href="mailto:denniskats43@gmail.com" target="_blank" title="Email"><i
              class="fa-solid fa-envelope fa-2x"></i></a>
          <a class="link" href="https://github.com/denk0403" target="_blank" title="GitHub"><i
              class="fa-brands fa-github fa-2x"></i></a>
          <a class="link" href="https://www.linkedin.com/in/dennis-kats/" target="_blank" title="LinkedIn"><i
              class="fa-brands fa-linkedin fa-2x"></i></a>
          <a class="link" href="https://twitter.com/denk0403" target="_blank" title="Twitter"><i
              class="fa-brands fa-twitter fa-2x"></i></a>
        </nav>
        <span class="desktop-only quote">
          <q>Life's a journey to find the people weird like you.</q>
          —atticus
        </span>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: center">
        <img width="200" class="portrait" src="/resources/imgs/Dennis2021-200.webp" alt="A picture of Dennis Kats" />
      </div>
    </div>
    <nav class="mobile-only links">
      <a class="link" href="mailto:denniskats43@gmail.com" target="_blank" title="Email"><i
          class="fa-inverse fa-solid fa-envelope fa-2x"></i></a>
      <a class="link" href="https://github.com/denk0403" target="_blank" title="GitHub"><i
          class="fa-inverse fa-brands fa-github fa-2x"></i></a>
      <a class="link" href="https://www.linkedin.com/in/dennis-kats/" target="_blank" title="LinkedIn"><i
          class="fa-inverse fa-brands fa-linkedin fa-2x"></i></a>
      <a class="link" href="https://twitter.com/denk0403" target="_blank" title="Twitter"><i
          class="fa-inverse fa-brands fa-twitter fa-2x"></i></a>
    </nav>
    <nav class="tab-bar">
      <a class="tab" href="/index.html" title="About Me Page">About Me</a>
      <a class="tab" href="/projects.html" title="Projects Page">Projects</a>
      <a class="tab selected" href="/blog/index.html" title="Blog Page">Blog</a>
    </nav>
  </header>
  <main class="main-content">
    {{ content }}
  </main>
</body>

</html>