<!--
	Hello! Welcome to my website's HTML.

	If you are wondering how it was made,
	it was with love and too much free time.

	If you find any visual bugs or accessibility issues,
	please let me know with an email at denniskats43@gmail.com!
-->
<!DOCTYPE html>
<html lang="en">
	<!-- prettier-ignore -->
	<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="keywords"
      content="developer, software engineer, code, github, software, web developer, react, javascript, web components, tutor, mentor" />
    <meta name="author" content="Dennis Kats" />
    <meta name="description" content="{{ page.description }}" />
    <title>{{ page.title }} - Dennis Kats Blog</title>

    <!-- Open Graph protocol support-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }} - Dennis Kats Blog" />
    <meta property="og:url" content="https://denniskats.dev" />
    <meta property="og:secure_url" content="https://denniskats.dev" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="og:image" content="https://denniskats.dev/resources/imgs/og.image.jpg" />
    <meta name="og:image:alt" content="Dennis Kats. Software Engineer. He/Him. NYC. denniskats43@gmail.com" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter Card support-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@denk0403" />
    <meta name="twitter:creator" content="@denk0403" />
    <meta name="twitter:image" content="https://denniskats.dev/resources/imgs/og.image.jpg" />
    <meta name="twitter:image:alt" content="Dennis Kats. Software Engineer. He/Him. NYC. denniskats43@gmail.com" />

    <!-- Preload FontAwesome fonts -->
    <link as="font" rel="preload" referrerpolicy="no-referrer" type="font/woff2" crossorigin
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-solid-900.woff2" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css"
      integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css"
      integrity="sha512-6mc0R607di/biCutMUtU9K7NtNewiGQzrvWX4bWTeqmljZdJrwYvKJtnhgR+Ryvj+NRJ8+NnnCM/biGqMe/iRA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />

    <style>{% include styles/site.styles.css %}</style>
    <style>{% include styles/blog.styles.css %}</style>
    <script>
			console.log(String.raw`%c{% include liveFootage.ascii.txt %}`, "font-family: monospace;");
		</script>
    <script src="/components/BalanceText.js"></script>

    <link rel='stylesheet' href='/highlight_js.css' />

    {% for head_tag in page.add_head %}
    {{ head_tag }}
    {% endfor %}

    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>

	<body>
		<nav class="tab-bar">
			<a class="tab" href="/index.html" title="About Me Page">About Me</a>
			<a class="tab" href="/projects.html" title="Projects Page">Projects</a>
			<a class="tab selected" href="/blog.html" title="Blog Page">Blog</a>
		</nav>
		<main class="page-body">
			<div class="blog-heading">
				<a id="back-btn" href="{{ page.back_link }}" title="Go back">
					<i class="fa-inverse fa-2x fa-solid fa-arrow-left"></i>
				</a>
				<balance-text>
					<h2 class="post-title">{{ page.title }}</h2>
				</balance-text>
				<div style="display: flex; justify-content: space-between; flex-wrap: wrap">
					<span>By: {{ page.authors }}</span>
					<span>{{page.date | date_to_string: "ordinal", "US"}}</span>
				</div>
			</div>
			<article class="main-content">{{ content }}</article>
		</main>
	</body>
</html>
