<!--
	Hello! Welcome to my website's HTML.

	If you are wondering how it was made,
	it was with love and too much free time.

	If you find any visual bugs or accessibility issues,
	please let me know with an email at denniskats43@gmail.com!
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="keywords"
    content="developer, software engineer, code, github, software, web developer, react, javascript, web components, tutor, mentor" />
  <meta name="author" content="Dennis Kats" />
  <meta name="description"
    content="Dennis Kats is a software engineer based in NYC. He specializes in full-stack web development, and he loves to learn about UX/DX, accessibility, and human-centered design." />
  <title>Dennis Kats | Software Engineer - {{ page.title }}</title>

  <!-- Open Graph protocol support-->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Dennis Kats | Software Engineer - {{ page.title }}" />
  <meta property="og:url" content="https://denniskats.dev" />
  <meta property="og:secure_url" content="https://denniskats.dev" />
  <meta property="og:description"
    content="Dennis Kats is a software engineer based in NYC. He specializes in full-stack web development, and he's extremely passionate about UX/DX, accessibility, and human-centered design." />
  <meta name="og:image" content="https://denniskats.dev/resources/imgs/og.image.jpg" />
  <meta name="og:image:alt" content="Dennis Kats. Software Engineer. He/Him. NYC. denniskats43@gmail.com" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter Card support-->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@denk0403" />
  <meta name="twitter:creator" content="@denk0403" />
  <meta name="twitter:image" content="https://denniskats.dev/resources/imgs/og.image.jpg" />
  <meta name="twitter:image:alt" content="Dennis Kats. Software Engineer. He/Him. NYC. denniskats43@gmail.com" />

  <!-- Preload FontAwesome fonts -->
  <link as="font" rel="preload" referrerpolicy="no-referrer" type="font/woff2" crossorigin
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-brands-400.woff2" />
  <link as="font" rel="preload" referrerpolicy="no-referrer" type="font/woff2" crossorigin
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/webfonts/fa-solid-900.woff2" />

  <!-- Preload images -->
  <link rel="preload" href="/resources/imgs/Dennis2021-200.webp" as="image" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css"
    integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css"
    integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew=="
    crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css"
    integrity="sha512-6mc0R607di/biCutMUtU9K7NtNewiGQzrvWX4bWTeqmljZdJrwYvKJtnhgR+Ryvj+NRJ8+NnnCM/biGqMe/iRA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" media="print" onload="this.media='all'" />

  <style>{% include site.styles.css %}</style>
  <script>console.log(String.raw`{% include liveFootage.ascii.txt %}`);</script>

  {% for head_tag in page.add_head %}
  {{ head_tag }}
  {% endfor %}

  <link rel="icon" href="./favicon.ico" />
  <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
</head>

<body>
  {% include header.html %}
  <nav class="tab-bar">
    {% if page.active_tab == "about me" %}
    <a class="tab selected" href="/index.html" title="About Me Page">About Me</a>
    {% else %}
    <a class="tab" href="/index.html" title="About Me Page">About Me</a>
    {% endif %}

    {% if page.active_tab == "projects" %}
    <a class="tab selected" href="/projects.html" title="Projects Page">Projects</a>
    {% else %}
    <a class="tab" href="/projects.html" title="Projects Page">Projects</a>
    {% endif %}

    {% if page.active_tab == "blog" %}
    <a class="tab selected" href="/blog.html" title="Blog Page">Blog</a>
    {% else %}
    <a class="tab" href="/blog.html" title="Blog Page">Blog</a>
    {% endif %}
  </nav>
  <main class="main-content">
    {{ content }}
  </main>
</body>

</html>