html {
  min-height: 100%;
}

body {
  min-height: 100%;
  text-align: center;
}

#output,
#meme,
#upload {
  display: none;
  visibility: hidden;
  align-self: center;
}

#mirror {
  max-width: 100%;
  height: auto;
}

label {
  font-size: x-large;
}

#caption,
#imagein {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px;
  width: 20vw;
  font-size: large;
}

#note {
  color: red;
}

.btn {
  height: 45px;
  border-radius: 5px;
  font-size: large;
  margin: 5px 20px;
  background-color: #00a6e3;
  box-shadow: inset 0 -3px 8px 2px #414b72;
  color: white;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn:hover {
  background-color: #21c201;
}

.btn:active {
  background-color: #28e103;
}

.btn:disabled {
  background-color: #97adb6;
}

#sv-link {
  display: none;
}

.box {
  display: inline-block;
  width: 85vw;
  background-color: rgba(248, 226, 203, 0.85);
  border-radius: 5%;
  padding: 10px;
}

div.darkmode-background {
  background: linear-gradient(#b7e9b4, #ebebad) fixed no-repeat;
  background: -webkit-linear-gradient(#b7e9b4, #ebebad) fixed no-repeat;
  background: -moz-linear-gradient(#b7e9b4, #ebebad) fixed no-repeat;
  background: -o-linear-gradient(#b7e9b4, #ebebad) fixed no-repeat;
}

.darkmode-toggle {
  z-index: 5;
  font-size: larger;
}

.darkmode-toggle:hover {
  filter: brightness(0.9);
}

.darkmode--activated div.darkmode-background {
  background-color: black;
}
